<a href="https://colab.research.google.com/github/suacalis/IK-Analitigi-2023/blob/main/Pandas_Query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("Dummy_Sales_Data_v1.csv")
df.head()

In [ ]:
df.query("Quantity == 95")

In [ ]:
df.query("Quantity == 95 and `UnitPrice(USD)` == 182")

In [ ]:
df.query("Quantity == 95 & UnitPrice == 182")

In [ ]:
df.rename(columns={'UnitPrice(USD)':'UnitPrice',
                   'Shipping_Cost(USD)':'Shipping_Cost',
                   'Delivery_Time(Days)':'Delivery_Time'},
          inplace=True)

In [ ]:
df.query("Quantity == 95 or UnitPrice == 182")

In [ ]:
df.query("not (Quantity == 95)")

In [ ]:
df.query("Quantity != 95")

In [ ]:
df.query("Status == 'Not Shipped'")

In [ ]:
df.query("Shipping_Cost*2 < 50")

In [ ]:
df.query("Quantity**2 + Shipping_Cost**2 < 500")

In [ ]:
df.query("sqrt(UnitPrice) > 15")

In [ ]:
df.query("sqrt(UnitPrice) < Shipping_Cost/2")

In [ ]:
df["OrderDate"] = pd.to_datetime(df["OrderDate"], format="%Y-%m-%d")

In [ ]:
df.query("OrderDate.dt.month == 8")

In [ ]:
df.query("OrderDate.dt.month == 8 and OrderDate.dt.year == 2021 and OrderDate.dt.day >=15")

In [ ]:
df.query("OrderDate >= '2021-08-15' and OrderDate <= '2021-08-31' and Status == 'Delivered'")

In [ ]:
import pandas as pd
# Load the titanic dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data = pd.read_csv(url)
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
pivot_table = pd.pivot_table(data, index='Pclass', values='Age', aggfunc='mean')
print(pivot_table)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [ ]:
import pandas as pd
data = {'Store': ['Store A', 'Store A', 'Store B', 'Store B', 'Store C', 'Store C'],
        'Product': ['Product 1', 'Product 2', 'Product 1', 'Product 2', 'Product 1', 'Product 2'],
        'Sales': [300, 250, 400, 350, 200, 150],
        'Profit': [75, 50, 100, 70, 40, 30]}

df = pd.DataFrame(data)
print(df)

     Store    Product  Sales  Profit
0  Store A  Product 1    300      75
1  Store A  Product 2    250      50
2  Store B  Product 1    400     100
3  Store B  Product 2    350      70
4  Store C  Product 1    200      40
5  Store C  Product 2    150      30

In [ ]:
import numpy as np
pivot_table = pd.pivot_table(df, index='Store', columns='Product', values='Sales', aggfunc=np.median)
print(pivot_table)

Product  Product 1  Product 2
Store
Store A      300.0      250.0
Store B      400.0      350.0
Store C      200.0      150.0

<ipython-input-4-7cc0365279dd>:2: FutureWarning: The provided callable <function median at 0x7c3dbc428700> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  pivot_table = pd.pivot_table(df, index='Store', columns='Product', values='Sales', aggfunc=np.median)

In [ ]:
pivot_table_multi = pd.pivot_table(df, index='Store', columns='Product', values='Sales', aggfunc=[np.sum, np.mean, 'count'])
print(pivot_table_multi)

              sum                mean               count
Product Product 1 Product 2 Product 1 Product 2 Product 1 Product 2
Store
Store A       300       250     300.0     250.0         1         1
Store B       400       350     400.0     350.0         1         1
Store C       200       150     200.0     150.0         1         1

<ipython-input-5-860ec4392480>:1: FutureWarning: The provided callable <function sum at 0x7c3dbf1fc0d0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_table_multi = pd.pivot_table(df, index='Store', columns='Product', values='Sales', aggfunc=[np.sum, np.mean, 'count'])
<ipython-input-5-860ec4392480>:1: FutureWarning: The provided callable <function mean at 0x7c3dbf1fd000> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_table_multi = pd.pivot_table(df, index='Store', columns='Product', values='Sales', aggfunc=[np.sum, np.mean, 'count'])

In [ ]:
pivot_table = df.pivot_table(
  index=['Month', 'Category'],
  values=['Sales', 'Profit'],
  aggfunc={'Sales': 'sum', 'Profit': 'sum'}
)
print(pivot_table)

KeyError: 'Month'